extend layout

block main-content
  div.row
    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title Newest
        div.panel-body
          p=courses[0].title

    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title Most Popular
        div.panel-body
          p=courses[0].title

    div.col-md-4
      div.panel.panel-default
        div.panel-heading
          h3.panel-title Most Recommended
        div.panel-body
          p=courses[0].title


  div(ng-view)
