extend layout

block main-content

  h3 Die App
  br
  div.panel.panel-default
    div.panel-heading
      h3.panel-title Die Mission
    div.panel-body Global Domination!

  div(ng-view)
  br
  h3 List of courses
  p=courses[0].title