doctype
html
  head
    link(href='libs/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
  body.container
    h3 The App
    br
    div.panel.panel-default
      div.panel-heading
        h3.panel-title Mission
      div.panel-body Global Domination!