doctype
html(ng-app='myApp')
  head
    link(href='/libs/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/libs/toastr/toastr.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    //base(href='/')

  body.container

    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href="#") Brand
        div.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href="#") Link
            li
              a(href="#") Link

          ul.nav.navbar-nav.navbar-right
            li
              a(href="#") Link

    div.jumbotron
      h1 Die App!
      p The revolution starts today.
      p
        a.btn.btn-primary.btn-lg(href="#" role="button") Learn more

    block main-content

    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
    script(src='/libs/angular/angular.min.js')
    script(src='/libs/angular-resource/angular-resource.min.js')
    script(src='/libs/angular-route/angular-route.min.js')
    script(src='/libs/toastr/toastr.min.js')
    script(src='/app.js')
    script(src='/controllers/homeController.js')